<% provide(:title, "Home") %>

<div class="sixteen columns">
	<h1>The home page of an awesome gaming news site</h1>
	<% if !signed_in? %>
		<p>Go sign up</p>
	<% end %>
	<%= render 'shared/feed' %>
</div>