<h1>ESportsPN</h1>

<p>Welcome to ESportsPN, the best place for e-sports news and analysis.</p>
<p><%= link_to "Visit ESportsPN", root_url %></p>
<p>You can now post an article here:</p>
<p>- The ESportsPN Team</p>