<% provide(:title, "Edit profile") %>

<div class="twelve columns offset-by-four">
	<h1>Edit Profile</h1>
	<%= form_for @user do |f| %>

		<%= render 'fields', :f => f %>
		<%= f.submit "Save updates", :class => "btn" %>

	<% end %>
</div>