<% provide(:title, "Sign up") %>
<h1>Sign Up</h1>
<p>To create a post, sign up!</p>

<div class="eight columns offset-by-four">
	<%= form_for @user do |f| %>
	
		<%= render 'fields', :f => f %>
		<%= f.submit "Sign Up", :class => "btn" %>

	<% end %>
</div>