@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
	font-family: open sans;
}

h1 {
	font-weight: 400;
	font-size: 20;
}

a {
	text-decoration: none;
	color: #0060B6;
}

a:hover {
	color:#00A0C6;
	cursor: pointer;
	text-decoration: underline;
}

label {
	display: inline-block;
}

.side-nav {
	position: fixed;
	left: 0;
	top: 0;
}

.header {
	margin-top: 1em;
	margin-bottom: 1em;
}

.header-nav {
	float: right;
}

.header-nav li {
	list-style: none;
	display: inline;
	margin-right: .5em;
	margin-left: .5em;
}

.footer {
	margin-top: 10em;
	padding-top: 1em;
	border-top: 1px solid grey;
}

/* Users */

.users-index {
	list-style: none;
}

.users-index li {
	overflow: auto;
	padding: 10px 0;
}

/* Posts */

.posts {
	list-style: none;
}

.posts .timestamp {
	color: #7C7C7C;
}

.post-title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: .2em;
}

.post-info {
	margin-bottom: .5em;
}

.posts ol {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.posts li {
	padding-bottom: 1.5em;
}

#categories ul {
	list-style: none;
}

#categories li {
	display: inline-block;
	padding-right: 1em;
}

.post-category {
	font-size: 12px;
	color: grey;
}

/* Forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 97%;
  padding: .5em;
  margin-bottom: 15px;
  border-radius: 2px;
  font-size: 14px;
}

.mybtn {
	background: #6a89d8;
	color: white;
	border: #6a89d8 solid;
	border-radius: 2px;
	height: 100%;
	font-size: 14px;
	padding: .5em;
	cursor: pointer;
	width: 100%;
}

.mybtn a {
	color: white;
}

a.mybtn:hover {
	color: white;
	text-decoration: underline;
}

.signup-btn {
	width: auto;
}

/* Pagination */

.pagination {
	list-style: none;
}

.pagination li {
	display: inline;
	border: 1px solid grey;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	margin-right: .25em;
}

li.active {
	background-color: #86A3D8;
	a { 
		color: white;
	}
}

/* Helpers */

.center {
	position: center;
}

.left {
  display: inline-block;
  text-align: left;
}

.right {
  display: inline-block;
}

.debug_dump {
	border-radius: 4px;
	background: #e5e5e5;
	border: 1px solid lightgrey;
	padding: 1em;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.alert {
	border-radius: 4px;
	padding: 1em;
	margin-bottom: .5em;
}

.alert-danger {
	background-color: #F2D5D5;
	color: #A33333;
}

.alert-success {
	background-color: #D7EFD7;
	color: #487448;
}

.alert-info {
	background-color: #D5E8F2;
	color: #337D98;
}