@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
	font-family: open sans;
}

h1 {
	font-weight: 400;
	font-size: 20;
}

a {
	text-decoration: none;
	color: #0060B6;
}

a:hover {
	color:#00A0C6;
	cursor: pointer;
	text-decoration: underline;
}

a.btn:hover {
	color: white;
	text-decoration: underline;
}

.header-nav {
	float: right;
}

.header-nav li {
	list-style: none;
	display: inline;
	margin-right: .5em;
	margin-left: .5em;
}

.footer {
	margin-top: 10em;
	padding-top: 1em;
	border-top: 1px solid grey;
}


/* Forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 97%;
  padding: .5em;
  margin-bottom: 15px;
  border-radius: 2px;
  font-size: 14px;
}

.btn {
	background: #6a89d8;
	color: white;
	border: #6a89d8 solid;
	border-radius: 2px;
	height: 100%;
	font-size: 14px;
	padding: .5em;
	cursor: pointer;
	width: 100%;
}

.btn a {
	color: white;
}

.signup-btn {
	width: auto;
}
/* Helpers */

.center {
	position: center;
}

.debug_dump {
	border-radius: 4px;
	background: #e5e5e5;
	border: 1px solid lightgrey;
	padding: 1em;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.alert {
	border-radius: 4px;
	padding: 1em;
	margin-bottom: .5em;
}

.alert-danger {
	background-color: #F2D5D5;
	color: #A33333;
}

.alert-success {
	background-color: #D7EFD7;
	color: #487448;
}